
<html>
<head>
	<title>Hello World</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/application.css">
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>

<div class="container">
		
	<div class="search">
		<input type = "text" class = "form-control" id="search-box">
		<button class="btn btn-primary" id="search-btn">Search</button>
	</div>	

</div>


<script type="text/javascript">
	
$(document).ready(function() {

	$('#search-btn').click(function() {
		var value = $("#search-box").val();
		$(location).attr('href','/data/'+value);
	});
});

</script>



</body>
</html>